@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    background: #F9FAFE !important;
}

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    border: none !important;
    outline: none !important;
}

a {
    text-decoration: none !important;
    color: #000000 !important;
}

/* Menu */
header {
    height: 70px;
}

nav {
    height: 100%;
    width: 75%;
    margin: 0 auto !important;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .8rem;
}

.link a {
    padding: .2rem .3rem !important;
    border-radius: 3px;
    transition: .2s;
}

.link a:hover {
    background: #dbdbdb60;
}

/* Container Azul */
.container {
    width: 80% !important;
    margin: 0 auto !important;
}

.b-container {
    padding: 0 4rem !important;
    width: 100%;
    height: 50vh;
    background: url(img/slogan.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    align-items: center;
}

.b-container h1 {
    width: 60% !important;
    color: #ffffff;
    font-weight: 600;
    font-size: 2.8rem;
}

.b-container p {
    width: 50% !important;
    margin-top: 1rem !important;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
}

.b-container p span {
    color: #00C8FF;
}

/* Serviços */

.services-container h2{
    margin-top: 50px !important;
    margin-bottom: 30px !important;
}

.card-servico-2{
    width: 90% !important;
    background: #fff;
    box-shadow: 2px 2px 10px #d3d3d3;
    border-radius: 10px;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    padding: 10px !important;
    margin-left: 4% !important;
}

.icone-card img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-servico-2 img{
    width: 50px !important;
    margin: 20px !important;
}

.card-servico-2 h3{
    font-size: 24px;
}

.card-servico-2 p{
    width: 90% !important;
    color: #515151e5;
}

/* Contato */ 

.c-container {
    margin: 2.5rem 0rem !important;
}

.c-container h2 {
    font-weight: 700;
    color: #1c1c1c;
}

form {
    margin-top: 1rem !important;
    width: 100%;
}

.form-data {
    padding: 2rem !important;
    box-shadow: 3px 3px 15px #d3d3d3;
    border-radius: 10px;
    background: #ffffff;
    height: 410px;
}

.form-data input {
    transition: .2s;
    background: #e9e9e9;
    color: #808088;
    padding: 0rem .5rem !important;
    border-radius: 3px;
    height: 45px;
    width: 100%;
}

.input {
    margin: 1rem 0rem !important;
}

.form-data textarea {
    transition: .2s;
    background: #e9e9e9;
    height: 100px;
    width: 100%;
    padding: .5rem !important;
    resize: none;
    border-radius: 3px;
    color: #808088;
}

.form-data input:focus,
.form-data input:hover,
.form-data textarea:focus,
.form-data textarea:hover,
.form-data button:focus {
    box-shadow: 0 0 0 3px #3f69ff9a;
    border: 1px solid #1c4cfa !important;
}

.form-data button {
    transition: .2s;
    font-weight: 600;
    width: 100%;
    height: 45px;
    margin-top: .5rem !important;
    border-radius: 3px;
    background:  #1c4cfa;
    color: #ffffff;
}

.robot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.robot img {
    width: 380px;
}

@media screen and (max-width: 768px) {
    .robot {
        display: none;
    }
}

@media screen and (max-width: 1267px) {
    .card-servico-2 img{
        width: 70% !important;
        height: auto !important;
        margin-left: 10px !important;
    }
}